/* Header section style */
header{
     background-image: url("images/banner/banner1.png");
     /* width: 1400px; */
     /* height: 100%; */
     display: flex;
     background-repeat: no-repeat;
      width: 1400px;
     height: 800px;
     /* flex-shrink: 0; */

}
.text{
     color: rgb(235, 87, 29);
}
.headr-title{
     color:  #151414;
     text-align: right;
     font-family: "Work Sans";
     font-size: 65px;
     /* font-style: normal; */
     font-weight: 700;
     /* line-height: normal; */
     width: 530px;
}
.header-section{
    margin: 215px 230px 360px 745px;
}
.headr-dis{
     color: #444343;
     text-align: right;
     font-family: "Work Sans";
     font-size: 20px;
     font-weight: 400px;
}
.btn-primary{
     margin-left: 420px;
      /* border-radius: 5px; */
     background: #F15B22;
     width: 100px;
     height: 44px;
     color: #FFF;
     text-align: center;
     font-family: "Work Sans";
     font-size: 15px;
     font-weight: 600;
     
}
/* main section style */
.img-section{
     margin: 50px 80px 20px 200px;
     /* background-image:  */
}
.main-section{
     display: flex;
}
.main-dis{
     margin: 300px 32px 70px 30px;

}
.text-dis{
     color: #151414;
     font-family: "Work Sans";
     font-size: 40px;
     width: 280px;
     /* height: 100px; */
     font-weight: 700;
     line-height: normal;

}
.text-configer{
     width: 415px;
     color: #444343;
     font-family: "Work Sans";
     font-size: 16px;
     font-weight: 400;
     line-height: 26px; /* 162.5% */
}
.bullet-point{
     color:  #444343;
     font-family: "Work Sans";
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 26px; /* 162.5% */
     text-decoration: none;
     list-style-type: none;
     margin-bottom: 10px;
     text-align: left;
}

/* plane section style */
.plane-title{
     text-align: center;
     color: #151414;
          font-family: "Work Sans";
          font-size: 40px;
          font-weight: 700;

}
.icon-styles{
     display: flex;
     justify-content: space-around;
}
.icon-section{
     /* margin-left: 30px; */
}
.icon-styles h3{
     color: #151414;
     text-align: center;
     font-family: "Work Sans";
     font-size: 30px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     margin-bottom: 20px;
}
.icon-styles p{
     color: #737272;
     text-align: center;
     font-family: "Work Sans";
     font-size: 25px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     margin-top: 10px;

}
.icon-styles img{
     margin-left: 30px;
     width: 100px;
     height: 100px;
     
}
.last-img-section{
     margin:  50px 130px;
     background-image: url(images/watch.png);
     width: 1140px;
     height: 300px;
     flex-shrink: 0;
}
.last-img-text{
     width: 459px;
     margin: 60px 615pc 115px 50px;
     color: #F15B22;
     font-family: "Work Sans";
     font-size: 40px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     
     position: absolute;
}
.btn-primary-call{
     margin: 177px 915px 60px 50px;
     width: 140px;
     height: 50px;
     flex-shrink: 0;
     border-radius: 5px;
     background: #FFF;
     color: #F15B22;
     text-align: center;
     font-family: "Work Sans";
     font-size: 20px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
}

/* footer section style */
footer{
     background-color: #151414;
     width: 1400px;
     height: 400px;
     flex-shrink: 0;
     display: flex;
     padding: 120px 200px;
     
}
.btn-primary-sub{
     color: #F15B22;
     font-family: Inter;
     font-size: 20px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     background: #FFF;
     /* width: 170.106px;
     height: 64px; */
     padding: 10px 20px;
     margin-top: 20px;
     flex-shrink: 0;
     border-radius: 5px;

}
.footer-dis{
     width: 470px;
     height: 70px;
     color: #FFF;
     font-family: "Work Sans";
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 26px; /* 162.5% */
}
.footer-title{
     color: #F8F8F8;
     font-family: "Work Sans";
     font-size: 45px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
}
.footer-style{
     width: 50%;
}
.addess-title{
     color: #FFF;
     font-family: "Work Sans";
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 26px; 
}
.social-icon{
     width: 150px;
     height: 35px;
     flex-shrink: 0;
}
.footer-style input{
     width: 250px;
     height: 44px;
     flex-shrink: 0;
     border: 1px solid wheat;
     border-radius: 8px;
     background-color: #151414;
}
.btn-primary-sub{

}